@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: $poppins;
  font-size: 62.5%;
  line-height: 1.15;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 6.4rem;
  font-weight: 600;
  color: $black;
}

h2 {
  font-size: 5rem;
  font-weight: 600;
  color: $black;
}

p {
  font-family: $poppins;
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: $black;
}

a {
  text-decoration: none;
  color: $black;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

fieldset {
  padding: 0;
}
